.section {
    @include v-align;
    min-height: 100vh;
    text-align: center;
    @supports (display: flex) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
